extends /layout/application

block title
  h3= t('tasks.index.title')

  a.btn.btn-success(href=(urlFor('newTask')))= t('tasks.index.create')

  +formFor()(class='mt-2 border rounded p-2')
    .form-row
      .col-md-4
        +input(filter, 'tags', t('tasks.index.filters.tags'))
      .col-md-4
        +select(filter, statuses, 'status', t('tasks.index.filters.status'))
      .col-md-4
        +select(filter, users, 'assignedTo', t('tasks.index.filters.assignedTo'))
    +checkbox(filter, 'myTasks', t('tasks.index.filters.myTasks'))

    .d-flex
      +submit()(value=t('tasks.index.filters.submit'))
      .ml-1
        a.btn.btn-primary(href=urlFor('tasks'))= t('tasks.index.filters.skip')

  each task in tasks
    .card.mt-2
      .card-body
        a.h5.card-title(href=urlFor('showTask', { id: task.id }))= task.name
        p.card-text= task.description

      ul.list-group.list-group-flush
        li.list-group-item.d-flex
          strong.mr-1= t('entity.Task.attributes.creator')
            =':'
          = task.creator.toString()
        li.list-group-item
          strong.mr-1= t('entity.Task.attributes.status')
            =':'
          = task.status.name

        li.list-group-item
          strong.mr-1= t('entity.Task.attributes.assignedTo')
            =':'
          = task.assignedTo ? task.assignedTo.toString() : '-'
        li.list-group-item
          strong.mr-1= t('entity.Task.attributes.tags')
            =':'
          = task.tags.length > 0 ? task.tags.map(({ name }) => name).join(', ')  : '-'
        .card-footer
          div.d-flex
            a.btn.btn-success.btn-sm.mr-1(href=urlFor('editTask', { id: task.id }))= t('tasks.index.edit')
            a(
              class="btn btn-danger btn-sm"
              href=urlFor('deleteTask', { id: task.id }),
              data-confirm= t('common.areYouSure'),
              data-method="delete",
              rel="nofollow"
             )= t('tasks.index.delete')
