extends /layout/application

block title
  h3= t('users.index.title')

  each user in users
    .card.mt-2
      .card-body.d-flex.justify-content-between
        div
          div= user.fullName
          div= user.email
        if currentUser.id === user.id
          div.d-flex
            a.btn.btn-success.btn-sm.mr-1(href=urlFor('editUser', { id: user.id }))= t('users.index.edit')
            +buttonTo(urlFor('deleteUser', { id: user.id }), 'delete')(class="btn btn-danger btn-sm" value=t('users.index.delete'))
